DEBUG=true
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=
DB_HOST=localhost
DB_PORT=5432
DB_USER=prabhatshukla
DB_PASSWORD=
DB_NAME=abacus_platform
JWT_SECRET=super_secret_change_me
JWT_EXPIRES_IN=1d
TIME_ZONE=Europe/London
